.Accordion--section-title {
  margin: 4rem 0 0 0;
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-family: $font-main;
}

.Accordion {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.Accordion--item {
  position: relative;
  border-bottom: 2px solid rgba($light-grey, 0.5);

  &:first-of-type {
    border-top: 2px solid rgba($light-grey, 0.5);
  }
}

.Accordion--item h4 {
  cursor: pointer;
  display: block;
  margin: 0;
  letter-spacing: 0.1rem;
  font-weight: lighter;
  font-family: $font-script;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.Accordion--item svg {
  float: right;
  transition: ease all 0.3s;
  opacity: 0.5;
}

.Accordion--item.active svg {
  transform: rotate(-180deg);
}

.Accordion--item .description {
  padding-bottom: 0;
  opacity: 0;
  transition: ease all 0.3s;
  max-height: 0;
  overflow: hidden;
}

.Accordion--item.active .description {
  padding-bottom: 2rem;
  opacity: 1;
  max-height: 5000rem;
}

.Accordion--item.active h4 {
  color: $col1;
}
