.blog .cat-item-all a {
  color: $col1;
  &::after {
    left: 0;
    width: 100%;
  }
}

.blog-nav--section {
  background: $col2;
  padding: 4rem 0 !important;

  @media screen and (#{$bp-tablet}) {
    padding: 2rem 0 !important;
  }
}

.blog-nav--list {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  justify-content: center;
  li {
    margin: 0 1rem;
  }
  a {
    position: relative;
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 1.4rem;
    transition: ease all 0.3s;
    letter-spacing: 1px;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;
      width: 0;
      background-color: $col1;
      transition: ease all 0.3s;
    }
    &:hover,
    &.active {
      color: $col1;
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
  .current-cat a {
    color: $col1;
    &::after {
      left: 0;
      width: 100%;
    }
  }
}
