.edit_link {
  position: fixed;
  margin: 0;
  top: 100px;
  right: 15px;
  z-index: 99999;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-family: $font-main;
  letter-spacing: 1px;
  font-weight: 300;

  i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: $col2;
    border-radius: 30px;
    font-size: 15px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  span {
    background-color: $col2;
    text-transform: uppercase;
    padding: 3px 5px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  a {
    color: $dark-grey;
    background-color: transparent;

    &:hover {
      span {
        margin-left: 10px;
      }
    }
  }
}
