body {
  padding-top: 82px;
  .header {
    @media screen and (#{$bp-larger-than-desktop}) {
      &.fade-in {
        .container {
          padding: 1.5rem 0;
        }
        border-bottom: 2px solid $col3;
        .logo img {
          width: 20rem;
        }
      }
    }
  }
  @media screen and (#{$bp-desktop}) {
    padding-top: 63px;
  }
}

body.home {
  padding-top: 0px;
  @media screen and (#{$bp-desktop}) {
    padding-top: 63px;
  }
  @media screen and (#{$bp-larger-than-desktop}) {
    .header {
      background: transparent;
      &.fade-in {
        background: $col4;
      }
    }
  }
}

.header {
  width: 100%;
  background: white;
  z-index: 99;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  box-shadow: none;
  transition: all 0.3s ease;
  .container {
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    padding: 2rem 0;
    @media screen and (#{$bp-desktop}) {
      width: 100%;
      padding: 0 0.5rem;
    }
    a {
      color: $dark-grey;
      transition: ease all 0.3s;
      &.search-link {
        margin-left: 0.65rem;
        svg {
          display: block;
        }
      }
      &:hover {
        color: $col1;
      }
    }
  }
}

.header-sides {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  flex-wrap: nowrap;

  &.header-sides-right {
    justify-content: flex-end;
  }

  @media screen and (#{$bp-desktop}) {
    padding: 0 2rem 0 0;
    .menu {
      display: none;
    }
  }
  @media screen and (#{$bp-desktop}) {
    display: none;
  }
}

.header .menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  li {
    margin: 0;
    padding: 0 0.25rem;
    position: relative;

    &.current-menu-item a {
      color: $col1;

      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
  a {
    display: block;
    color: $dark-grey;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;
      width: 0;
      background-color: $col1;
      transition: ease all 0.3s;
    }
    &:hover {
      color: $col1;
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
  .sub-menu {
    list-style: none;
    margin: 0;
    padding: 2rem 1rem 1rem 1rem;
    position: absolute;
    top: 2.5rem;
    left: -1rem;
    background: $col4;
    width: 250px;
    display: none;
    li {
      display: block;
      margin: 0 0 1.5rem 0;
    }
    a {
      display: block;
    }
  }
  .menu-item-has-children:hover .sub-menu {
    display: block;
  }
}

.logo {
  width: auto;
  height: 100%;
  text-align: center;
  display: block;
  flex-shrink: 0;
  @media screen and (#{$bp-desktop}) {
    margin: 1rem 0;
  }

  img {
    width: 32.5rem;
    height: 100%;
    margin: 0 auto;
    transition: ease all 0.3s;
    display: block;
    @media screen and (#{$bp-desktophd}) {
      width: 25rem;
    }

    @media screen and (#{$bp-desktop}) {
      width: 135px;
    }
  }
}

.current-product_cat-ancestor a,
.current-page-parent a,
.current-menu-item a {
  position: relative;
  color: $col1;
}
