$height: 9rem;

.instagram-banner--section {
  padding: 0;
}

.instagram-banner--title{
  margin: 0 0 1rem 0;
  .title {
    color: $dark-grey;
  }
  .account {
    color: $col3;
  }
  a:hover {
    .title {
      color: $dark-grey !important;
    }
    .account {
      color: $dark-grey !important;
    }
  }
}

.instagram-banner--row {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.instagram-banner--item {
  display: block;
  height: 120px;
  width: 120px;
  background-size: cover;
  margin: 0.5rem 1rem 2rem 0;
}
