// mobile nav /////////////////////////////////////////////////////////////

.mobile-nav,
.mobile-cart {
  display: none;
}

@media screen and (#{$bp-desktop}) {
  .header {
    background: $col4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 99999;
    overflow-y: auto;
    border-bottom: 2px solid $col1;

    .mobile-heading {
      display: flex;
      width: 100%;
      height: 7rem;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;

      .hamburger {
        height: 21px;
        width: 35px;
        display: block;
        position: relative;

        .menui {
          background: $mid-grey;
          transition: ease all 0.6s;
          transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
          position: relative;
          width: 35px;
          height: 1px;

          &.top-menu {
            top: 0;
          }

          &.mid-menu {
            top: 9px;
          }

          &.bottom-menu {
            top: 18px;
          }

          &.top-animate {
            top: 10px;
            transform: rotate(45deg);
          }

          &.mid-animate {
            opacity: 0;
          }

          &.bottom-animate {
            top: 9px;
            transform: rotate(-45deg);
          }
        }
      }

      .logo {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          height: auto;
        }
      }

      .search-link {
        color: $mid-grey;
        width: 35px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
      }
    }
  }
}

.mobile-nav-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-grey, 0.8);
  z-index: 101;
  align-items: center;
  justify-content: center;
  opacity: 0;

  .mobile-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11111;
    padding: 0 1rem;

    #menu-mobile {
      text-align: center;
      list-style: none;

      .menu-item {
        padding: 0;

        a {
          font-size: 3rem;
          padding: 2rem 0;
          font-weight: 200;
          color: $col4;

          @media screen and (#{$bp-phablet}) {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}
