.top-home .social_links,
.share-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  align-items: center;
  margin: 0;
  &::before {
    height: 20rem;
    width: 1px;
    background-color: $col1;
    content: '';
    position: relative;
    display: block;
    left: calc(50% - 1px);
    margin-bottom: 2rem;
  }
  li {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
    font-size: 2rem;
    a {
      color: $col1;
      &:hover {
        color: $mid-grey;
      }
    }
  }
}
