.split-title {
  text-align: center;
  overflow: hidden;
  .script {
    font-family: $font-script;
    color: $col1;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: lighter;
    margin-bottom: 2rem;
    display: inline-block;
  }
}
