body {
  padding-top: 82px;
  .header {
    @media screen and (#{$bp-larger-than-desktop}) {
      &.fade-in {
        .container {
          padding: 1.5rem 0;
        }
        border-bottom: 2px solid $col3;
        .logo img {
          width: 20rem;
        }
      }
    }
  }
  @media screen and (#{$bp-desktop}) {
    padding-top: 63px;
  }
}

body.home {
  padding-top: 0px;
  @media screen and (#{$bp-desktop}) {
    padding-top: 63px;
  }
  @media screen and (#{$bp-larger-than-desktop}) {
    .header {
      background: transparent;
      &.fade-in {
        background: $col4;
      }
    }
  }
}

.header {
  width: 100%;
  background: white;
  z-index: 99;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  box-shadow: none;
  transition: all 0.3s ease;
  .container {
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    padding: 2rem 0;
    @media screen and (#{$bp-desktop}) {
      width: 100%;
      padding: 0 0.5rem;
    }
    a {
      color: $dark-grey;
      transition: ease all 0.3s;
      &.search-link {
        margin-left: 0.65rem;
        svg {
          display: block;
        }
      }
      &:hover {
        color: $col1;
      }
    }
  }
}

.header-sides {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  flex-wrap: nowrap;

  &.header-sides-right {
    justify-content: flex-end;
  }

  @media screen and (#{$bp-desktop}) {
    padding: 0 2rem 0 0;
    .menu {
      display: none;
    }
  }
  @media screen and (#{$bp-desktop}) {
    display: none;
  }
}

.header .menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 0;
  font-weight: lighter;
  li {
    margin: 0;
    padding: 0 1rem 1rem;
    position: relative;
  }
  a {
    color: $dark-grey;
    font-size: 1.3rem;
    &:hover {
      color: $col2;
    }
  }
  .sub-menu {
    list-style: none;
    margin: 0;
    padding: 3rem 2rem 1.2rem 2rem;
    position: absolute;
    top: 2rem;
    left: -1rem;
    background: rgba($mid-grey, 0.4);
    width: 250px;
    display: none;
    li {
      display: block;
      position: relative;
    }
    a {
      display: block;
    }
    .sub-menu {
      list-style: none;
      margin: 0;
      padding: 1.2rem 2rem;
      position: absolute;
      top: -1rem;
      left: 200px;
      background: rgba($mid-grey, 0.8);
      width: 250px;
      display: none;
    }
  }
  .menu-item-has-children:hover > .sub-menu {
    display: block;
  }
  .sub-menu .menu-item-has-children:hover > .sub-menu {
    display: block;
  }
}

.logo {
  width: auto;
  height: 40px;
  text-align: center;
  display: block;
  margin: 0 4rem;
  flex-shrink: 0;
  @media screen and (#{$bp-tablet}) {
    margin: 1rem 0;
  }

  img {
    width: 80px;
    height: 40px;
    margin: 0 auto;
    @media screen and (#{$bp-tablet}) {
      width: 50px;
    }
  }
}

.woo-tools {
  position: relative;
  margin: -1rem 0 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 20;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    margin: 0 1rem;
  }
  .tools {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.cart-contents {
  margin: 0 4rem 0 1rem;
  @media screen and (#{$bp-mobile}) {
    margin: 0 2rem 0 0;
  }
  a {
    position: relative;
    display: block;
    padding: 1rem 0 0.5rem 0;
  }
  .fa {
    font-size: 2rem;
  }
  .in-cart {
    position: absolute;
    top: -5px;
    right: -8px;
    background: $col2;
    border-radius: 100%;
    font-size: 11px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: 600;
    color: white;
  }
}
@media screen and (#{$bp-tablet}) {
  .open-nav .cart-contents {
    a {
      color: white;
    }
    .in-cart {
      background: white;
      color: $col2;
    }
  }
}
.current-product_cat-ancestor a,
.current-page-parent a,
.current-menu-item a {
  position: relative;
  color: $col3;
}
