// shadow offset
.page-template-page-contact {
  .page_header_title {
    text-align: left;
    max-width: $container-width-small;
    margin: 2.5rem auto 0;
  }
}

.page-template-page-contact .contact {
  padding: 0;
}

$offset: 0;
.two-column {
  overflow: visible;
  .row {
    width: 100%;
    position: relative;
    align-items: stretch;
    padding-bottom: 10rem;
    @media screen and (#{$bp-tablet}) {
      flex-direction: column;
      align-items: center;
    }
  }
  .image-group {
    position: relative;
    width: 40%;
    overflow: hidden;
    border-radius: 50%;
    @media screen and (#{$bp-tablet}) {
      width: 250px;
      height: 250px;
      margin: 1rem auto;
    }
  }
  .content {
    width: 50%;
    position: relative;
    @media screen and (#{$bp-tablet}) {
      width: 100%;
    }

    &.details {
      padding-right: 5rem;
      @media screen and (#{$bp-tablet}) {
        margin-top: 2.5rem;
        padding-right: 0;
      }
      a {
        position: relative;
        color: $dark-grey;
        font-size: 1.8rem;
        line-height: 3rem;
        display: block;
        margin-bottom: 2rem;
        transition: ease all 0.3s;

        &.icon {
          padding-left: 5rem;
        }

        span {
          width: 5rem;
          height: 100%;
          position: absolute;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        // svg {
        //   position: absolute;
        //   left: 0;
        //   top: 50%;
        //   transform: translateY(-50%);
        //   display: inline-block;
        // }

        &:last-of-type {
          margin-bottom: 0;
        }

        &:hover {
          color: $col1;
        }
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.icon-list {
  overflow: hidden;
  img {
    width: 100%;
  }
}

#field_1_6 {
  display: none;
}
