.reward_pods .container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  @media screen and (#{$bp-desktop}) {
    flex-wrap: wrap;
  }
  .rewards_pod {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 2rem;
    @media screen and (#{$bp-desktop}) {
      max-width: calc(50% - 4rem);
    }
    @media screen and (#{$bp-phablet}) {
      max-width: 100%;
      width: 100%;
      margin: 0 0 4rem 0;
    }
  }
  .number {
    background: $col2;
    border-radius: 50%;
    border: rgba(white, 0.2) 1.5rem solid;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 20px 40px 0 rgba(126, 126, 126, 0.13);
    flex-shrink: 0;
    @media screen and (#{$bp-phablet}) {
      width: 150px;
      height: 150px;
    }
    h3 {
      color: white;
      font-size: 5.5rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      line-height: 1;
      @media screen and (#{$bp-phablet}) {
        font-size: 4rem;
      }
    }
    h4 {
      color: $col4;
      font-size: 5rem;
      margin: 0;
      padding: 0;
      font-weight: lighter;
      font-family: $font-script;
      line-height: 1;
      @media screen and (#{$bp-phablet}) {
        font-size: 3.5rem;
      }
    }
  }

  .arrow_box {
    position: relative;
    background: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  .arrow_box:after,
  .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  .arrow_box:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 16px;
    margin-left: -16px;
  }
  .content {
    width: 100%;
    background: white;
    border-radius: 4px;
    padding: 2rem;
    overflow: hidden;
    font-size: 1.3rem;
    color: $mid-grey;
    height: 100%;
    ul {
      list-style-position: outside;
      list-style: disc;
      margin: 0 0 0 1.8rem;
      padding: 0;
    }
  }
}
