// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button {
  position: relative;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: $col4;
  cursor: pointer;
  display: inline-block;
  font-size: 1.35rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 3.8rem;
  padding: 0.5rem 4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: $font-script;
  text-decoration: none;
  transition: ease all 0.3s;
  overflow: hidden;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    left: -175%;
    top: 0;
    transform: skewX(-15deg);
    background: linear-gradient(to left, $mid-grey 50%, $dark-grey 50%);
    transition: ease all 0.3s;
    z-index: -1;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid $col1;
    transition: ease all 0.3s;
  }
  &:hover,
  &:focus {
    background-color: $dark-grey;
    border-color: $dark-grey;
    outline: 0;
    &::before {
      left: -25%;
    }
    &::after {
      width: 100%;
    }
  }

  &.button-outline {
    color: white;
    background-color: transparent;
    border: white 1px solid;
    &:hover,
    &:focus {
      color: $col2;
      background-color: white;
      border-color: white;
    }
  }

  &.button-clear {
    color: $col2;
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus {
      color: $col3;
      background-color: transparent;
      border-color: transparent;
    }
  }
  &.button-white {
    color: $dark-grey;
    background-color: transparent;
    &::before {
      background: linear-gradient(to left, $col4 50%, $col2 50%);
    }
    &:hover,
    &:focus {
      color: $dark-grey;
    }
  }
  &.button-grey {
    color: $dark-grey;
    background-color: transparent;
    &::before {
      background: linear-gradient(to left, $light-grey 50%, $col2 50%);
    }
    &:hover,
    &:focus {
      color: $dark-grey;
    }
  }
}

.link {
  color: $light-grey;
  border-bottom: 0.1rem solid currentColor;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 auto;
  text-decoration: none;
}

/*
 Set a default collor
 ::begore and ::after elements wont work on input tags 
 */

input[type='button'],
input[type='submit'] {
  background: $dark-grey 50%;
  &.button-white {
    background: $col4;
  }
  &.button-grey {
    background: $light-grey;
  }
}
