// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$col1: #ffffff;
$col2: #7e7e7e;
$col3: #f5f5f5;
$col4: #7e7e7e;
$col5: #f5f5f5;

$dark-grey: #262626;
$mid-grey: #7e7e7e;
$light-grey: #f5f5f5;
