form {
  font-family: $font-main;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ::placeholder {
    color: $dark-grey;
    opacity: 1; /* Firefox */
    letter-spacing: 0;
  }
}

// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='url'],
textarea {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  background-color: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  height: 3.8rem;
  padding: 2.5rem 2rem; // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;

  &:focus {
    outline: 0;
  }
}

select {
  height: 3.8rem;
  padding: 2.5rem 2rem; // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;
  &:focus {
    outline: 0;
  }
}

textarea {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  min-height: 10rem;
  resize: vertical;
}

label,
legend {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.5rem;
}

.gift-certificate-show-form,
.woocommerce-checkout-payment,
.wc-credit-card-form {
  label {
    display: inline;
  }
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  font-weight: normal;
  display: inline-block;
  margin-left: 0.5rem;
}

.gform_ajax_spinner {
  display: block;
  margin: 1rem auto;
  height: 20px;
  width: 20px;
}

.validation_error,
.gform_confirmation_message {
  width: 100%;
  padding: 1rem;
  background: $col4;
  margin: 1.5rem auto;
  font-weight: 500;
  color: $dark-grey;

  &:before {
    content: '\f06a';
    font-family: 'FontAwesome';
    margin-right: 10px;
    color: $dark-grey;
  }
}

.gform_confirmation_message {
  &:before {
    content: '\f164';
    font-family: 'FontAwesome';
    margin-right: 5px;
    color: $col2;
  }
}

.validation_message {
  background: white;
  font-weight: 500;
  border: 1px solid $light-grey;

  &:before {
    content: '\f06a';
    font-family: 'FontAwesome';
    margin-right: 5px;
    color: $col2;
  }
}

#gform_1 {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  @media screen and (#{$bp-tablet}) {
    max-width: none;
  }
  label {
    display: none;
  }
  input[type='text'],
  input[type='email'],
  textarea {
    background: $col2;
    border: none;
    outline: none;
  }
  .button {
    float: right;
  }
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($dark-grey, 0.8);
  z-index: 101;

  form {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input {
    margin: 0;
    padding: 0 1rem;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    border: none;
    background: none;
    outline: none;
    font-size: 5rem;
    font-family: $font-main;
    caret-color: white;
    color: white;

    @media screen and (#{$bp-tablet}) {
      font-size: 3rem;
    }
    @media screen and (#{$bp-phablet}) {
      font-size: 2rem;
    }
  }

  ::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    letter-spacing: 0;
  }

  button {
    padding: 1rem 5rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 3.5rem;
    &::before {
      height: 40px;
      width: 40px;
      content: '';
      position: absolute;
      border-radius: 2rem;
      border: 2px solid white;
      display: block;
      transform: translate(-20px, -20px);
    }
    &::after {
      height: 2px;
      width: 20px;
      content: '';
      position: absolute;
      background-color: white;
      transform: translate(11px, 20px) rotate(45deg);
      display: block;
    }
    @media screen and (#{$bp-tablet}) {
      transform: scale(0.75);
    }
    @media screen and (#{$bp-phablet}) {
      padding: 1rem 3rem;
      transform: scale(0.5);
    }
  }

  &.active {
    display: block;
  }
}
