// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

p {
  margin-top: 0;
  margin-bottom: 1.4rem;
  line-height: 2.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-light;
  font-weight: 300;
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

h1 {
  font-size: 7rem;
  line-height: 1.2;
  letter-spacing: 6px;
  @media screen and (#{$bp-tablet}) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 6rem;
  line-height: 1.25;
  font-weight: 200;
  @media screen and (#{$bp-tablet}) {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 5rem;
  line-height: 1.3;
  font-weight: 200;
  letter-spacing: 4px;
  @media screen and (#{$bp-tablet}) {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 1.8rem;
  line-height: 1.35;
  @media screen and (#{$bp-tablet}) {
    font-size: 1.4rem;
  }
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  @media screen and (#{$bp-tablet}) {
    font-size: 1.4rem;
  }
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
  @media screen and (#{$bp-tablet}) {
    font-size: 1.4rem;
  }
}

.script {
  font-family: $font-script;
  color: $col1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6rem;
  line-height: 3rem;
}

.quote {
  font-size: 2.25rem;
  color: $col1;
}
