.Subscribe {
  .gform_body {
    width: 60%;
    @media screen and (#{$bp-tablet}) {
      width: 100%;
    }
  }
  .gform_footer {
    text-align: center;
    flex-shrink: 0;
    margin: 0;
    @media screen and (#{$bp-tablet}) {
      width: 100%;
      .button {
        width: 100%;
        margin: 1rem 0;
      }
    }
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 6rem 0 0 0;
    @media screen and (#{$bp-tablet}) {
      flex-direction: column;
    }
    label {
      display: none;
    }
    input[type='email'] {
      background: transparent;
      margin: 0;
      padding: 0 1rem;
      border-radius: 0;
      color: $mid-grey;
      height: 4.9rem;
      font-size: 1.2rem;
      border: none;
      border-bottom: 1px solid $mid-grey;
      @media screen and (#{$bp-tablet}) {
        width: 100%;
      }
    }
  }

  .gform_validation_error {
    form {
      position: relative;
      display: block;
    }
    .gform_body {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 100%;
    }
    .gform_footer {
      float: right;
      display: inline-block;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
