.team {
  .team-member {
    padding: 4rem 0;
    border-bottom: 1px solid $mid-grey;
    width: 90%;
    margin: 0 auto;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    .profile {
      width: 30%;
      text-align: center;
      img {
        max-width: 250px;
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
      }
    }
    .info {
      width: 70%;
    }
    .name {
      font-size: 3.3rem;
    }
    .position {
      text-transform: uppercase;
      margin: 0 0 2rem 0;
    }
    .social-links {
      margin: 1rem 0;
    }
  }

}
